  <nav class="bg-gray-800 shadow mb-6 fixed w-full top-0 z-10">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between items-center h-16">
        <div class="flex-shrink-0">
          <a href="/" class="text-2xl font-bold text-emerald-600">RecipeApp</a>
        </div>
        <div>
          <a href="/createrecipe"
            class="text-white bg-emerald-600 hover:bg-emerald-700 px-4 py-2 rounded-md">Add Recipe</a>
        </div>
      </div>
    </div>
    </nav>